/*Reset De Valores*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Configuraciones Generales*/
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: "Bitter";
}

.PageRow{
    height: 100vh;
    width: 100%;
}

.Content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
}

.Row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Info{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #e3cf1c;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;

    color:#e3cf1c;
}

p{
    text-align: justify;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 5%;
}

a{
    text-align: center;
    text-decoration: none;

    height: 2vh;
    width: 10vw;
}

ul{
    list-style: none;
}

.HTMLAnchor{
    height: 0;
    width: 0;
}

/*Golden Empire*/
    #Header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        background: url(../images/BackgroundGoldenEmpire.jpg);
        background-size: cover;
        background-position: center;
    }

    #Header > nav{
        height: 10%;
        width: 100%;

        backdrop-filter: blur(4px) grayscale(1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #Header > nav > div{
        height: 80%;
        width: 5%;

        margin-right: 2%;

        background: url(../images/LogoGoldenEmpirePNG.png) no-repeat;
        background-size: contain;
    }

    #Header > nav > a{
        height: 100%;

        text-decoration: none;
        font-weight: bolder;
        color: #e3cf1c;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    #Header > .Filter{
        height: 90%;
        width: 100%;

        backdrop-filter: blur(4px) grayscale(1);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #Header > .Filter > .Row{
        height: 20%;
        width: 100%;

        justify-content: space-between;

        background: #922031;
        color: #e3cf1c;
    }

    /*Golden Empire - AboutUs*/
        #AboutUs{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        #AboutUs > .Content:nth-child(1){
            height: 100%;
            width: 50%;

            background: #353636 url();
        }


        #AboutUs > .Content:nth-child(2){
            height: 80%;
            width: 50%;
        }

    /*Golden Empire - Habitaciones*/
        #GoldenEmpireRooms{
            display: flex;
            align-items: center;
            justify-content: center;

            background:
            radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 15px 15px/calc(2*15px) calc(2*15px),
            radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 15px 15px/calc(2*15px) calc(2*15px),
            radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 0/calc(2*15px) calc(2*15px),
            radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 0/calc(2*15px) calc(2*15px),
            repeating-conic-gradient(#922031 0 25%,#0000 0 50%) 0 0/calc(2*15px) calc(2*15px),
            radial-gradient(#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 calc(15px/2)/15px 15px
            #922031;      
        }

        #GoldenEmpireRooms > .Content{
            height: 70%;
            width: 70%;

            background: #353636d0;
            box-shadow: 0px 0px 20px #353636d0;
            border-radius: 10px;

            color: white;

            flex-flow: column wrap;
        }

        #GoldenEmpireRooms > .Content > h1{
            height: 20%;
            width: 100%;
        }

        #GoldenEmpireRooms > .Content > .SliderBox{
            height: 80%;
            width: 100%;

            overflow: hidden;
        }

        #GoldenEmpireRooms > .Content > .SliderBox > ul{
            display: flex;
            width: 500%;

            animation: slide 20s infinite ease-in-out;
        }

        #GoldenEmpireRooms > .Content > .SliderBox > ul > li{
            width: 100%;
            list-style: none;

            padding: 1%;
        }

    /*Golden Empire - Servicios*/
        #GoldenEmpireServices{
            display: flex;
            align-items: center;
            justify-content: center;

            background:
            radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 15px 15px/calc(2*15px) calc(2*15px),
            radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 15px 15px/calc(2*15px) calc(2*15px),
            radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 0/calc(2*15px) calc(2*15px),
            radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 0/calc(2*15px) calc(2*15px),
            repeating-conic-gradient(#922031 0 25%,#0000 0 50%) 0 0/calc(2*15px) calc(2*15px),
            radial-gradient(#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 calc(15px/2)/15px 15px
            #922031;
        }

        #GoldenEmpireServices > .Content{
            height: 80%;
            width: 80%;
            
            background: #353636d0;
            box-shadow: 0px 0px 20px #353636d0;
            border-radius: 10px;

            display: grid;
            grid-template: repeat(5, 1fr) / repeat(6, 1fr);
        }

        #GoldenEmpireServices > .Content > h2{
            grid-column: span 6;
            grid-row: span 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #GoldenEmpireServices > .Content > .Info{
            grid-column: span 2;
            grid-row: span 2;
        }

        #GoldenEmpireServices > .Content > .Info:nth-child(5), #GoldenEmpireServices > .Content > .Info:nth-child(6){
            grid-column: span 3;
        }

/*Espacio Para Reservar*/
    #Reserve{
        background: #353636;
        color: whitesmoke;

        background:
        radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 15px 15px/calc(2*15px) calc(2*15px),
        radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 15px 15px/calc(2*15px) calc(2*15px),
        radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 0/calc(2*15px) calc(2*15px),
        radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 0/calc(2*15px) calc(2*15px),
        repeating-conic-gradient(#922031 0 25%,#0000 0 50%) 0 0/calc(2*15px) calc(2*15px),
        radial-gradient(#0000 66%,#e3cf1c 68% 70%,#0000 72%) 0 calc(15px/2)/15px 15px #922031;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    #Reserve > h2{
        height: 20%;
        width: 100%;

        background: #353636d0;
    }

    #Reserve > form{
        height: 80%;
        width: 100%;

        background: #353636d0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: space-evenly;

        padding: 4% 15%;
    }

    textarea{
        resize: vertical;
    }

/*Footer*/
    footer{
        height: 20vh;
        width: 100%;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;

        background: #922031;
        font-weight: bolder;
        color: #e3cf1c;
    }

    footer > a{
        text-decoration: none;
        color: #e3cf1c;
    }

/*Animaciones*/
    /*Animación de los carruseles*/
        @keyframes slide{
            0%{
                margin-left: 0;
            }
            15%{
                margin-left: 0;
            }
            20%{
                margin-left: -100%;
            }
            35%{
                margin-left: -100%;
            }
            40%{
                margin-left: -200%;
            }
            55%{
                margin-left: -200%;
            }
            60%{
                margin-left: -300%;
            }
            75%{
                margin-left: -300%;
            }
            80%{
                margin-left: -400%;
            }
            95%{
                margin-left: -400%;
            }
            100%{
                margin-left: 0%;
            }
        }

    /*Smooth Scroll*/
        html {
            scroll-behavior: smooth;
        }