/*Reset De Valores*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Configuraciones Generales*/
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans";
}

.PageRow{
    height: 100vh;
    width: 100%;

    overflow: hidden;
}

.Content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.Row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Info{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25pt;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: justify;
}

.HTMLAnchor{
    height: 0;
    width: 0;
}

/*Imland*/
    #Imland{
        background: url(../images/BackgroundImland.jpg) no-repeat;
        background-size: cover;
        background-position: center;

        color: #968d6f;

        .Filter{
            height: 100%;
            width: 100%;

            backdrop-filter: blur(5px) grayscale(.5);

            nav{
                height: 20%;
                width: 100%;

                background: #424939;

                display: flex;
                align-items: center;
                justify-content: center;

                .Column{
                    height: 100%;
                    width: 30%;

                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;

                    .Logo{
                        height: 90%;
                        width: 50%;

                        background: url(../images/LogoImlandPNG.png) no-repeat;
                        background-size: contain;
                        background-position: center;
                    }

                    h1{
                        height: 31%;
                        width: 50%;

                        justify-content: flex-start;
                    }

                    p{
                        width: 30%;
                        padding: 1% 1%;
                    }
                }

                ul{
                    height: 100%;
                    width: 70%;
                    
                    list-style: none;

                    display: flex;
                    align-items: center;

                    li{
                        height: 100%;
                        width: 20%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            text-decoration: none;
                            color: #968d6f;
                        }

                        transition: all 0.3s;
                    }

                    li:hover{
                        background: #33382d;
                        font-weight: bolder;
                    }
                }
            }

            .Row:nth-child(2){
                height: 80%;

                .Content{
                    height: 50%;
                    width: 35%;

                    padding: 5%;

                    background-color: #33382ce0;
                }
            }
        }
    }

    /*Imland - Habitaciones*/
        #ImlandRooms{
        background:  url(../images/Anexo5.jpg);
        background-size: cover;
        background-position: center;

        .Filter{
            height: 100%;
            width: 100%;

            background: #33382dd0;

            display: flex;
            align-items: center;
            justify-content: center;

            .Content{
                height: 70%;
                width: 70%;

                background: #dad8d2d0;
                box-shadow: 0px 0px 20px #a5b8bed0;
                border-radius: 10px;

                color: black;

                flex-flow: column wrap;

                h1{
                    height: 20%;
                    width: 100%;
                }

                .SliderBox{
                    height: 80%;
                    width: 100%;
    
                    overflow: hidden;

                    > ul{
                        width: 500%;
                        height: 100%;

                        display: flex;
                        list-style: none;

                        animation: slide 20s infinite ease-in-out;

                        > li{
                            width: 100%;
                            height: 100%;

                            padding: 1%;
                            
                            ul > li{
                                padding-left: 5%;
                            }
                        }
                    }
                }

            }
        }
        }

    /*Imland - Servicios*/
        #ImlandServices{
            background: url(../images/Anexo4.jpg);
            background-size: cover;
            background-position: center;

            display: flex;
            align-items: center;
            justify-content: center;

            .Filter{
                height: 100%;
                width: 100%;

                background: #dad8d2d0;

                display: flex;
                align-items: center;
                justify-content: center;

                .Content{
                    height: 80%;
                    width: 80%;
                    
                    background:  #33382dd0;
                    box-shadow: 1px 1px 20px #33382dd0;

                    color: white;

                    display: grid;
                    grid-template: repeat(5, 1fr) / repeat(6, 1fr);

                    h2{
                        grid-column: span 6;
                        grid-row: span 1;
                    }

                    .Info{
                        grid-column: span 2;
                        grid-row: span 2;

                        ul{
                            li:nth-child(even){
                                list-style: none;
                            }
                        }
                    }

                    .Info:nth-child(5), .Info:nth-child(6){
                        grid-column: span 3;
                    }
                }
            }
        }

/*Espacio Para Reservar*/
#Reserve{
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;

    h2{
        height: 20vh;
        width: 50%;
    }

    form{
        height: 80%;
        width: 80%;
    
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: space-around;
    
        padding: 4%;

        input, select{
            padding: 1%;
            margin: 1%;
        }

        button{
            padding: 2.3%;
            margin: 1%;

            background-color: #424939;
            border: none;
            border-radius: 10px;

            color: #968d6f;

            transition: all .5s;
        }

        button:hover{
            background-color: #968d6f;

            font-weight: bolder;
            color: #424939;
        }

        label{
            margin: 1%;
        }

        textarea{
            resize: vertical;
        }
        
    }
}

/*Footer*/
footer{
    height: 20vh;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    background-color: #424939;
    font-weight: bolder;
    color: #968d6f;

    a{
        text-decoration: none;

        font-weight: bold;
        color: #968d6f;
    }
}

/*Animaciones*/
    /*Animación de los carruseles*/
        @keyframes slide{
            0%{
                margin-left: 0;
            }
            15%{
                margin-left: 0;
            }
            20%{
                margin-left: -100%;
            }
            35%{
                margin-left: -100%;
            }
            40%{
                margin-left: -200%;
            }
            55%{
                margin-left: -200%;
            }
            60%{
                margin-left: -300%;
            }
            75%{
                margin-left: -300%;
            }
            80%{
                margin-left: -400%;
            }
            95%{
                margin-left: -400%;
            }
            100%{
                margin-left: 0%;
            }
        }

    /*Smooth Scroll*/
        html {
            scroll-behavior: smooth;
        }